.header{
    width: calc(100% - 14rem);
    height: 100px;
    position: absolute;
    top: 40px;
    left: 14rem;
    padding: 1rem 2rem;
    background-color: hsl(217, 47%, 40%);
    color: var(--light);
}
.header h2{
    font-size: 1.4rem;
    font-weight: 400;
}
.header p{
    font-size: 0.8em;
    opacity: 0.8;
}